@use '@angular/material' as mat;
@use 'default-theme';
@use 'shell-app.theme' as shell;
@use 'markdown' as md;
@use 'toc' as toc;

@use '../../../../libs/ngrid' as ngrid;
@use '../../../../libs/ngrid-material' as ngrid-material;

$typography-config: mat.define-typography-config(); // Updated to use define-typography-config
$pbl-shell-theme: default-theme.shell-light-theme(mat.$indigo-palette, mat.$light-green-palette); // Updated to use $indigo-palette and $light-green-palette

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($typography-config);`
@include mat.all-component-typographies($typography-config);
@include mat.core();

@include ngrid.ngrid-typography($typography-config);

// Include the default theme styles.
@include mat.all-component-themes($pbl-shell-theme);
@include shell.render-shell-app-theme($pbl-shell-theme, $typography-config);

// @include ngrid.ngrid-theme($pbl-shell-theme);
@include ngrid-material.all-ngrid-material-theme($pbl-shell-theme);

@include ngrid.predefined-spacing($pbl-shell-theme);

@include md.render($pbl-shell-theme, $typography-config); // render markdown styles
@import './prismjs'; // load prismJs styles
@import './helpers';
@include toc.render($pbl-shell-theme); // render markdown styles


html {
  font-size: 62.5%;
}

html, body {
  -webkit-font-smoothing: antialiased;
}

.text-subtitle {
  color: rgba(0, 0, 0, .5);
}

.table-height-300 {
  pbl-ngrid {
    height: 300px;
  }
}
