<div fxLayout="row" fxLayoutGap="16px" style="padding: 8px">
  <button fxFlex="noshrink" mat-stroked-button color="accent" (click)="swapNameAndRating()">Swap Name <-> Rating</button>
  <!-- TODO: The 'tickInterval' property no longer exists -->
  <mat-slider thumbLabel min="250" max="500"><input matSliderThumb />
    <input matSliderThumb [value]="emailWidth" (valueChange)="updateEmailWidth($event)">
    Email Width
  </mat-slider>
  <div fxFlex="*"></div>
</div>
<pbl-ngrid id="statePersistenceDemo" persistState (afterLoadState)="afterLoadState()"
           blockUi class="pbl-ngrid-cell-ellipsis"
           [dataSource]="ds" [columns]="columns">
</pbl-ngrid>
